
<div class="container">

  <div class="row">
    <div class="col-md-4">
      <button (click)="logout()" routerLink="../../login" style="margin-bottom: 20%;">Logout</button>
        <h3 style="margin-bottom: 20%;">Name: <br>{{ user_name }}</h3>
        <h3 >Role:
          <div *ngIf="user_role=='1'" >Admin</div>
          <div *ngIf="user_role=='2'">Client</div>
        </h3>
    </div>

    <div class="col-md">
      <div class="container-fluid px-1 py-5 mx-auto">
        <div class="row d-flex justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
                <h3>Add project</h3>

                <div class="card">

                    <form class="form-card" [formGroup]="input_project">
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Title<span class="text-danger"> *</span></label> <input type="text" name="title" placeholder="Enter title" formControlName="title"> </div>
                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Description<span class="text-danger"> *</span></label> <input type="text" name="description" formControlName="description"> </div>
                        </div>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Status<span class="text-danger"> *</span></label> <input type="date"name="deadline" formControlName="deadline" > </div>
                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Deadline<span class="text-danger"> *</span></label>
                            <select name="status" formControlName="status">
                              <option value="In progres">In progress</option>
                              <option value="Canceled">Canceled</option>
                              <option value="Completed">Completed</option>
                              <option value="Open">Open</option>
                            </select>
                            </div>
                        </div>

                        <div class="row justify-content-end">
                            <div class="form-group col-sm-6"> <button type="submit" class="btn-block btn-primary" (click)="add()">Add project</button> </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
  </div>
</div>



<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Title</th>
      <th scope="col">description</th>
      <th scope="col">deadline</th>
      <th scope="col">status</th>
      <th scope="col">Change</th>
      <th scope="col">Delete</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let project of projects">
      <th>{{ project.id }}</th>
      <th>{{ project.title }}</th>
      <th>{{ project.description }}</th>
      <th>{{ project.deadline }}</th>
      <th *ngIf="change_status == 0">{{ project.status }}</th>
      <th *ngIf="change_status == 1">
        <form [formGroup]="changeStatus">
          <select name ="status" formControlName="status">
            <option value="open">Open</option>
            <option value="completed">Completed</option>
            <option value="in progres">In progress</option>
            <option value="canceled">Canceled</option>
          </select>
        </form>

      </th>
      <th *ngIf="change_status == 0"><button (click)="change()">Edit</button></th>
      <th *ngIf="change_status == 1"><button (click)="save(project.id)">Save</button></th>
      <th><button (click)="delete(project.id)">Delete</button></th>
    </tr>

  </tbody>
</table>
